<div class="card bg-dark-subtle overflow-hidden" style="margin-bottom:20px; margin-right:20px; max-width:400px">
    
  <div class="bg-dark-subtle card-body">
      <a href="{{client['url']}}" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">
        <h5>{{client['name']}}</h5>
      </a>
      <!-- Icon -->
      <div style = "padding-top:15px;padding-bottom:10px;">
          <button type="button" class="btn btn-outline-light position-relative text-center" data-client-name="{{client['name']}}" data-client-id="{{client['id']}}" onclick="loadClientTests(this)"><svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-cpu"><rect x="4" y="4" width="16" height="16" rx="2" ry="2"></rect><rect x="9" y="9" width="6" height="6"></rect><line x1="9" y1="1" x2="9" y2="4"></line><line x1="15" y1="1" x2="15" y2="4"></line><line x1="9" y1="20" x2="9" y2="23"></line><line x1="15" y1="20" x2="15" y2="23"></line><line x1="20" y1="9" x2="23" y2="9"></line><line x1="20" y1="14" x2="23" y2="14"></line><line x1="1" y1="9" x2="4" y2="9"></line><line x1="1" y1="14" x2="4" y2="14"></line></svg>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill text-bg-light">
                {{ tests | selectattr('ClientID', 'equalto', client['id']) | list | length }}
              <span class="visually-hidden">unread messages</span>
            </span><br>Tests
          </button>
          <div class="d-inline-block">
          <button type="button" class="btn btn-outline-light position-relative text-center" disabled><svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clipboard"><path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"></path><rect x="8" y="2" width="8" height="4" rx="1" ry="1"></rect></svg>
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill text-bg-light">
                {% set client_tests = tests | selectattr('ClientID', 'equalto', client['id']) | map(attribute='id') | list %}
                {{ jobs | selectattr('TestID', 'in', client_tests) | list | length }}
                <span class="visually-hidden">unread messages</span>
              </span><br>Jobs
            </button>
          </div>
          <div class="d-inline-block">
            <button type="button" class="btn btn-outline-light position-relative text-center" disabled><svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill text-bg-light">
                  {% set client_tests = tests | selectattr('ClientID', 'equalto', client['id']) | map(attribute='id') | list %}
                  {% set client_jobs = jobs | selectattr('TestID', 'in', client_tests) | map(attribute='id') | list %}
                  {{ tasks | selectattr('JobID', 'in', client_jobs) | list | length }}
                  <span class="visually-hidden">unread messages</span>
                </span><br>Tasks
              </button>
          </div>
      </div>
      <span class="badge text-bg-light">FY24</span>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <div class="btn-group d-flex" role="group" aria-label="Horizontal stretch button group">

          <button type="button" class="btn btn-outline-primary" data-client-id="{{client['id']}}" onclick="loadUpdateForm(this)"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>  Edit</button>

              <button type="button" class="btn btn-outline-light" data-client-id="{{client['id']}}" onclick="loadClientTests(this)"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-cpu"><rect x="4" y="4" width="16" height="16" rx="2" ry="2"></rect><rect x="9" y="9" width="6" height="6"></rect><line x1="9" y1="1" x2="9" y2="4"></line><line x1="15" y1="1" x2="15" y2="4"></line><line x1="9" y1="20" x2="9" y2="23"></line><line x1="15" y1="20" x2="15" y2="23"></line><line x1="20" y1="9" x2="23" y2="9"></line><line x1="20" y1="14" x2="23" y2="14"></line><line x1="1" y1="9" x2="4" y2="9"></line><line x1="1" y1="14" x2="4" y2="14"></line></svg>  Tests</button>

          <button type="button" class="btn btn-outline-danger" data-client-id="{{client['id']}}"  onclick="deleteClient(this)"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg>  Delete</button>
      </div>
  </div>
</div>
    

