<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        // Handle job deletion
        $(document).on('click', '.btn-delete', function() {
            const jobId = $(this).data('job-id');
            print(jobId)
            $.ajax({
                type: 'DELETE',
                url: `/delete-job/${jobId}`,
                success: function(response) {
                    alert('Job deleted successfully!');
                    $(this).closest('.row').remove(); // Remove the job item from the DOM
                }.bind(this),
                error: function(error) {
                    alert('Error deleting job!');
                }
            });
        });
    });
</script>
