<div class="row gx-16" style="margin-bottom:16px; padding:16px; border: 2px solid #ccc; border-radius: 10px; width: 100%; box-sizing: border-box;">
  <div class="col-9">
    <h4 style="color:rgb(120,120,120); margin-bottom:4px;">{{job['testType']}}</h4>
    <div><b>Client:</b> {{job['client']}}</div>
  </div>
  <div class="col-3">
    <div class="btn-group-vertical" role="group" aria-label="Vertical radio toggle button group">
      <button type="button" class="btn btn-outline-primary">Update</button>
      <button type="button" class="btn btn-outline-success">Complete</button>
      <button type="button" class="btn btn-outline-danger">Delete</button>
    </div>
  </div>

</div>