<div class="card bg-dark-subtle overflow-hidden" style="margin-bottom:20px; margin-right:20px; max-width:400px">
    
    <div class="bg-dark-subtle card-body">
      <a href="" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">
        <h5>{{task['name']}}</h5>
      </a>
      <!-- Icon -->
      <div style = "padding-top:15px;padding-bottom:10px;">
        <div class="d-inline-block">
        </div>
        
    </div>
      
    <a class="icon-link icon-link-hover link-danger" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);" href="#" onclick="deleteJob(this)" data-task-id="{{task['id']}}">
      <svg class="bi" aria-hidden="true"><use xlink:href="#trash-icon"></use></svg>
      Delete
    </a>
    
    </div>
  </div>
  