<div class="modal fade" id="updateClientModal" tabindex="-1" role="dialog" aria-labelledby="createItemModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createItemModalLabel">Update</h5>
                <button type="button" class="btn-close" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form id="updateItemForm" method="POST" onsubmit="submitForm(event)">
                    {{ form.hidden_tag() }}
                    <input type="hidden" id="clientId" name="clientId">
                    <div class="form-group">
                        {{ form.client.label }}
                        {{ form.client(class="form-control") }}
                    </div>
                    <div id="responseMessage"></div>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>